.modern-radio-container {
    display: flex;
    cursor: pointer;
    user-select: none;
}

.radio-color-group {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.radio-outer-circle {
    width: 45px;
    height: 45px;
    min-width: 45px;
    min-height: 45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 18px;
    margin-bottom: 6px;
    transition: all 0.1s linear;
}

.radio-outer-circle:hover {
    box-shadow: 0 0 10px #268DD2;
}

.radio-inner-circle {
    width: 31px;
    height: 31px;
    border-radius: 50%;
    transition: all 0.1s linear;
}

.unselected-circle {
    width: 0;
    height: 0;
}
